#container {
	width: 990px;
	margin: 0px auto;
}

#header {
	border: 1px solid black; /* border just for orientation */
	display: flex;
	justify-content: space-around;
	background-color: #FFF3F3;
}

#headerlogo {
	margin: auto auto auto 20px;
}

#headerbanner {
	margin: 20px 20px 20px 20px;
	/* opacity: 0.3; */
}

#navbar {
	margin: 0px;
	padding: 0px;
}

#navbar ul {
	display:  flex;
	background-color: #8E1616 ;
	margin: 0px;
	padding: 5px;
	list-style-type: none;
}

#navbar a {
	text-decoration: none;
	padding: 0px 0px 0px 15px;
	color: white;
}

#mainsection {
	border: 1px solid black; /* border just for orientation */
	background-color: lightgrey;
	background-image: url('img/traffic-332857_1920.jpg');
	background-size: cover;
 	margin:  0px;
	padding: 0px;
	height: 667px;

}

#heading-text {
	color: white;
}

#main-text {
	background-color: lightgrey;
	margin: 0px;
	padding: 5px;
	text-align: center;
}

#midsection {
	border: 1px solid black;
	display: flex;
	justify-content:  space-between;
}

.box1 {
	border:  1px solid black;
	/* margin: auto auto auto 25px; */
}

